<%= f.fields_for type do |ff| %>
  <div class="form-section">
    <div class="form-section-label">Name</div>
    <div><%= ff.text_field :name %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">Company</div>
    <div><%= ff.text_field :company %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">Street</div>
    <div><%= ff.text_field :street1 %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">Street Cont.</div>
    <div><%= ff.text_field :street2 %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">City</div>
    <div><%= ff.text_field :city %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">State</div>
    <div><%= ff.text_field :state %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">Zip</div>
    <div><%= ff.text_field :zip %></div>
  </div>

  <div class="form-section">
    <div class="form-section-label">Phone #</div>
    <div><%= ff.text_field :phone %></div>
  </div>
<% end %>